* {
    font-family: "Poppins", sans-serif;
}

/* CARD */
.card-table {
    height: calc(100vh - 15vh);
}

.card-table .table-responsive {
    height: calc(100vh - 36vh);
}

/* TABLE */
.dropdown-table .dropdown-toggle {
    padding: 7.5px 10px;
    border-radius: 50%;
}

.dropdown-table a i {
    margin-right: 7.5px;
}

/* MODAL */
.modal-title {
    font-size: 24px;
}
